.logo a {
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: courier;
    color: #57A6A1;
}

*{
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    transition: 0.5s;
}

body {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 0 8%;
}

.title {
    font-size: 80px;
    margin: 4rem 0 2rem 0;
}

.product-grid-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
}

.product-container {
    width: 22%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 5rem;
}

.product-image-wrapper {
    height: 500px;
    width: 100%;
    overflow: hidden;
}

.product-image {
    width:100%;
}

.product-image:hover {
    opacity: 0.5;
    transform: scale(1.1);
}

.product-info-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 1rem;
}

.product-seller{
    text-transform: uppercase;
    font-size: 12px;
    color:darkolivegreen;
}

.product-title {
    font-size: 20px;
    margin: 5px 0;
    font-weight: 500;
}

.product-price {
    color:black;
    font-size: 15px;
    font-weight: 500;
}

a.green-button {
    background:#A1DD70;
    border-radius: 20px;
    margin-bottom: 50px;
    padding: 10px 20px 10px 20px;
    color:#FFFFFF;
    cursor: pointer;
    font-weight: bold;
}
